@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
}

.card {
  padding-block: 10px;
}

.card a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hero {
  background-image: url("../images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

@media screen and (max-width: 990px) {
  .logo-big {
    display: none;
  }

  .cta {
    width: 100%;
  }

  .navbar-nav {
    text-align: center;
  }

  .social {
    margin-bottom: 20px;
  }

  .social-header {
    display: none;
  }

  body {
    margin-top: 50px;
  }

  .menu {
    position: fixed;
    background-color: #fff;
    margin-top: -50px;
    z-index: 1000;
  }

  nav {
    background-color: #fff;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .logo {
    display: none;
  }
}

hr {
  background-color: rgba(0, 119, 255, 0.1);
}

section {
  color: #333;
}

.card-shadow {
  box-shadow: 0px 2px 2px 1px #ccc;
}

.ourwork {
  padding-bottom: 3rem;
  display: block;
  position: relative;
  background: rgb(0, 119, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 119, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

ul {
  list-style-type: none;
}

li {
  margin-inline: 15px;
}

.contact-form i {
  margin-right: 10px;
}

html {
  scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gallery a {
  text-decoration: none;
}

.gallery a img:hover {
  border-radius: 10px;
  border: solid 2px #0077ff;
}

img {
  border-radius: 25px;
}

.card img {
  border-radius: 0;
  margin: 10px;
}

nav {
  font-variant: small-caps;
  font-size: 20px;
}

footer {
  background-color: #e8e8e8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-links li {
  margin-block: 10px;
  margin-left: 0px;
}

.social-links li {
  float: left;
  margin-left: -15px;
  margin-right: 15px;
}

.dropdown-item:hover {
  font-weight: bold;
}

.active a {
  font-weight: bold;
}

.page-content {
  position: relative;
  width: 100%;
}

/* Style the button and place it in the middle left of the image */
.page-content .btn-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the button and place it in the middle left of the image */
.page-content .btn-right {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
